@keyframes bg {
    from {
        background-position-y: 0%;
    }

    to {
        background-position-y: 100%;
    }
}

* {
    text-align: center;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url("./background.jpg");
    background-repeat: repeat;
    padding: 4vw 8vh;
    /* animation-name: bg;*/
    animation-duration: 80s;
    animation-iteration-count: infinite;
    font-family: monospace;

}

#main {
    text-align: justify;
    background-color: rgba(75, 125, 145, 0.8);
    color: white;
    padding: 1vw 2vh;
    border: 2vh double black;
    overflow: hidden;
    transition: height 1.5s cubic-bezier(0.25, 0.65, 0.7, 1.6);
    height: 2vh;
}

#text{
    overflow: auto;
    height: 95%;
}

p{
    text-align: justify;
}