@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);



html,
body {
    width: 100%;
    height: 100%;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .15em;
    background: #000;
    overflow: hidden;
    position: relative;
    margin: 0;
    color: #ffc909;

}

a {
    color: #ffc909;
}

h1 {
    font: 6em "Times New Roman", serif;
    margin: 0.2em;
}

.controls {
    position: absolute;
    top: 0;
    z-index: 100;
    font-size: smaller;
    text-align: center;
    width: 100%;
}

button {
    text-transform: uppercase;
    border-color: #ffc909;
    background-color: #000;
    color: #ffc909;
    padding: 0.5em;
    border-radius: 10%;
    margin: 1em;
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
}

button.active {
    background-color: #ffc909;
    color: #000
}


body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}

.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 300px;
}


@keyframes scroll {
    from {
        top: 0;
        transform: translateZ(0) rotateX(20deg);
    }

    to {
        top: -7500px;
        transform: translateZ(-2500px) rotateX(21deg);
    }
}


#text {
    text-align: justify;
    padding-top: 70vh;
    position: relative;
    font-size: 6vw;
    line-height: 1.5em;
    animation: scroll 100s linear forwards;
}


.hidden {
    display: none;
}

.static {
    max-height: 50vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}



#gps>a {
    height: 100%;
    width: 8em;
    margin: auto;
    display: block;
    z-index: 10;
}

#gps>a>img {
    width: 100%;
}