@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);



html,
body {
    width: 100%;
    height: 100%;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .15em;
    background: #000;
    overflow: hidden;
    position: relative;
    margin: 0;
    color: #ffc909;

}

a {
    color: #ffc909;
}

h1 {
    font: 3em "Times New Roman", serif;
    margin: 0.2em;
}

.controls {
    position: absolute;
    top: 0;
    z-index: 100;
    font-size: smaller;
    text-align: center;
    width: 100%;
}

button {
    text-transform: uppercase;
    border-color: #ffc909;
    background-color: #000;
    color: #ffc909;
    padding: 0.5em;
    border-radius: 10%;
    margin: 1em;
    transition: all 0.3s ease-in-out;
}

button.active {
    background-color: #ffc909;
    color: #000
}

button:active {
    background-color: #ffc909;
    color: #000
}


body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    perspective: 75vw;
}

#text {
    text-align: center;
    padding-top: 90vh;
    position: relative;
    line-height: 2.5em;
    font-size: 1.2em;
    animation: scroll 5s linear forwards;
    transform: translateZ(-200px) rotateX(25deg);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#text::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#text-webkit-scrollbar-thumb {
    background-color: transparent;
}


.hidden {
    display: none;
}

.static {
    max-height: 60vh;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}



#gps>a {
    height: 100%;
    width: 8em;
    margin: auto;
    display: block;
    z-index: 10;
}

img {
    width: 100%;
}